{% extends 'base.html.twig' %}
{% block body %}
{% if is_granted('ROLE_USER') %}
{% set address = app.user.address %}
{% set phone = app.user.phone %}
{% set email = app.user.email %}
{% else %}
{% set address = "" %}
{% set phone = "" %}
{% set email = "" %}
{% endif %}
<div class="container  margin-top-100">
   <div class="row">
      <form action="/send-order" method="post" class="col-xs-12">
         <div class="col-md-7">
            <div class="panel-body">

               <div class="form-group">
                  <div class="col-md-12"><strong>Address:</strong></div>
                  <div class="col-md-12">
                     <input name="address" id="address" class="form-control" value="{{ address }}" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12"><strong>Area:</strong></div>
                  <div class="col-md-12">
                     <input name="area" id="area" class="form-control" value="" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12"><strong>Post code:</strong></div>
                  <div class="col-md-12">
                     <input name="post_code" id="postCode" class="form-control" value="" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12"><strong>Ring name:</strong></div>
                  <div class="col-md-12">
                     <input name="ring_name" id="ringName" class="form-control" value="" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12"><strong>Floor:</strong></div>
                  <div class="col-md-12">
                     <input name="floor" id="floor" class="form-control" value="" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-md-12"><strong>Phone Number:</strong></div>
                  <div class="col-md-12"><input name="phone_number" id="phone_number" class="form-control"
                        value="{{ phone }}" type="text"></div>
               </div>
               <div class="form-group">
                  <div class="col-md-12"><strong>Email Address:</strong></div>
                  <div class="col-md-12"><input name="email_address" id="email_address" class="form-control"
                        value="{{ email }}" type="text"></div>
               </div>
            </div>
            {% for flash in app.session.flashbag.get('notice') %}
            <div class="text-center alert alert-danger" id="fadeMsg">
               {{flash}}
            </div>
            {% endfor%}
         </div>
         <div class="col-md-5 panel panel-default margin-top-50">
            {% set totalPrice = 0 %}
            {% set disbledClass = 'disabled' %}
            {% set disabledProp = 'disabled=""' %}
            <div id="order" class="margin-top-10">
               {% for item in items  %}
               {% set totalPrice = totalPrice + (item.productId.price * item.quantity) %}
               <div class="col-md-6 col-sm-6 col-xs-12">
                  <h4 class="orderName">{{item.productId.name}}:</h4>

               </div>
               <div class="col-md-4 col-sm-4 col-xs-6">
                  <h4>{{item.quantity}} x {{item.productId.price}}&euro;</h4>
               </div>
               <div class="col-md-2 col-sm-2 col-xs-6">
                  <p id="dlt-product" class="pull-right"><a href="delete/{{item.id}}" class="fa fa-trash fa-2x"></a></p>
               </div>
               {% endfor %}
            </div>
            <h3 id="order-price" class="pull-right text-info orderPrice margin-top-50">Total price
               {{ totalPrice }}&euro;
            </h3>
            <input type="hidden" name="order_sum" value = {{ totalPrice }}>
            {% if items is not empty %}
            {% set disbledClass = '' %}
            {% set disabledProp = '' %}
            <div class="row margin-top-10">
               <div class="col-xs-12">
                  <p class="text-info  panel-body">Want something extra!?</p>
                  <div class="col-md-4">
                     <textarea id="extra" name="extra" class="form-control" rows="2"></textarea>
                  </div>
               </div>
            </div>
            {% endif %}
            <div class="col-md-12 margin-top-10 margin-bottom-10">
               <button id="send-order" class="btn btn-success btn-block {{disbledClass}}" {{disabledProp}}>Send
                  order</button>
            </div>
         </div>
      </form>
   </div>
</div>
{% endblock %}