{% extends 'base.html.twig' %} 
{% block title %}Comments{% endblock %}
{% block body %}
<!-- TODO: comment "next five" does not stop when all comments finished -->
<div id="wait"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></div>
<div id="loading-wrapper"></div>
<div class="container margin-top-100">
    <h2>Add your comment here</h2>
    <div class="row">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <form method="post" action="commentsSubmit">
                        {% if is_granted('ROLE_USER') %}
                        <div class="form-group">
                            <label for="commentBox">Comment</label>
                            <textarea type="text" name="comment" class="form-control" id="commentBox" rows="5"></textarea>
                        </div>
                        <fieldset class="rating">
                            {% for i in range(5, 0.5, 0.5)  %}
                                {% if i matches '/^\\d+$/'%}
                                    <input type="radio" id="star{{i}}" name="rating" value="{{i}}" /><label class = "full" for="star{{i}}"></label>
                                {% else %}
                                    <input type="radio" id="star{{i + 0.5 }}half" name="rating" value="{{i}}" /><label class = "half" for="star{{i + 0.5}}half"></label>                            
                                {% endif %}
                            {% endfor %}
                         </fieldset>
                        <button id="addComment" type="submit" class="burger-btn btn btn-default "><i class="fa fa-share"> </i>Share</button>                        
                        {% else %}
                        <div class="form-group">
                            <label for="commentBox">Comment</label>
                            <textarea disabled type="text" name="comment" class="form-control" id="commentBox" rows="5"></textarea>
                        </div>
                        <h3><a href="{{ asset('login') }}" class="burger-a">Login</a> to comment</h3>
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-100">
    {% for flash in app.session.flashbag.get('notice') %}
        <div class="text-center alert alert-danger" id="fadeMsg">
            {{flash}}
        </div>
    {% endfor %}
    <div id="loadAjax">
        {% include 'default/commentsRefresh.html.twig' %}
    </div>
    <div class="col-xs-12 col-md-5 margin-top-50 pull-right">
        <button class="btn btn-primary btn-block" id="nextComment" name="next">
            Next <span class="fa fa-forward"></span>
        </button>
    </div>
    <div class="col-xs-12 col-md-5 margin-top-50">
        <button class="btn btn-warning btn-block" id="previousComment" name="previous">
            <span class="fa fa-backward"> Previous</span>
        </button>
    </div>
</div>
{% endblock %}