{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12 text-center">
	<img src="{{ asset('images/col1.jpg') }}" class="img-thumbnail" alt="cake" width="304" height="236"> 
</div>
<div class="margin-top-100 container">
	<div class="container">
				<h1>{{item.name}}</h1>
				<p class="pull-right">{{item.price}}&euro;</p>
				<p class="text-center">{{item.description}}</p>
				{%set tag = item.tags|split(',')%}
				
				{% for split in tag%}
					<p class="fa fa-tag ">{{split}}</p>
				{% endfor%}

	</div>
</div>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
{% endblock %}

