{% extends 'base.html.twig' %}

{% block body %}
<div class="container margin-top-100">
	<div class="col-md-4 text-center">
		<img src="{{ asset('images/col1.jpg') }}" class="img-thumbnail" alt="cake" width="304" height="236"> 
	</div>
	<div class="col-md-8 margin-top-100">
		<p class="text-center">{{item.description}}</p>
	</div>
	<div class="margin-top-100 container">
		<div class="col-md-12 text-center">
			<hr>
			<h1 id="prname">{{item.name}}</h1>
		</div>
		{%set tag = item.tags|split(',')%}
		<div class="col-md-6">

			{% for split in tag%}
				<p class="fa fa-tag ">{{split}}</p>
			{% endfor%}
		</div>
		<div class="col-md-6">
			<h4 class="pull-right"><span id="prprice">{{item.price}}</span>&euro;</h4>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-success btn-sm addCart">Grap me</button>
		</div>
	
		<div class="col-xs-12 col-md-6  text-center col-md-push-2">
			<div class="margin-top-100">
				<a href="/list" class="fa fa-arrow-left fa-2x btn btn-info "></a>
			</div>
		</div>
		<div class="text-center alert alert-success" id="offerSendMsg">
    		<p>Added to basket</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="pull-right">

				<h4>Average user rating</h4>
				<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
				<div id="rating-block ">
<!-- 					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
						<span class="fa fa-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
						<span class="fa fa-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
						<span class="fa fa-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
						<span class="fa fa-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
						<span class="fa fa-star" aria-hidden="true"></span>
					</button> -->

					 
				    <input class="star star-5 rate" id="star-5" type="radio" name="star" value ="5"/>
				    <label class="star star-5" for="star-5"></label>
				    <input class="star star-4 rate" id="star-4" type="radio" name="star" value ="4"/>
				    <label class="star star-4" for="star-4"></label>
				    <input class="star star-3 rate" id="star-3" type="radio" name="star" value ="3"/>
				    <label class="star star-3" for="star-3"></label>
				    <input class="star star-2 rate" id="star-2" type="radio" name="star" value ="2"/>
				    <label class="star star-2" for="star-2"></label>
				    <input class="star star-1 rate" id="star-1" type="radio" name="star" value ="1"/>
				    <label class="star star-1" for="star-1"></label>
				
				</div>
			</div>

		</div>



	</div>
</div>
{% endblock %}

