{% extends 'base.html.twig' %}

{% block body %}
<div class="container margin-top-100">
	<div class="col-md-4 text-center ">
		<img src="{{ asset('images/uploads/')}}{{item.image}}" class="img-thumbnail" alt="img" width="304" height="236">
	</div>
	<div class="col-md-8 margin-top-100">
		<p class="text-center">{{item.description}}</p>
	</div>
	<div class="margin-top-100 container">
		<div class="col-md-12 text-center">
			<hr>
			<h1 id="prname">{{item.name}}</h1>
		</div>
		{%set tag = item.tags|split(',')%}
		<div class="col-md-6">

			{% for split in tag%}
				<p class="fa fa-tag remove-decoration"> <a href="/tag/{{split}}">{{split}}</a> </p>
			{% endfor%}
		</div>
		<div class="col-md-6">
			<h3 class="pull-right text-primary"><span  id="prprice">{{item.price}}</span>&euro;</h3>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-success btn-sm addCart btn3d">Grap me</button>
			 
		</div>
	
		<div class="col-xs-12 col-md-6  text-center col-md-push-2">
			<div class="margin-top-100">
				<a href="{{ asset('list') }}" class="fa fa-arrow-left fa-2x btn btn-info "></a>
			</div>
		</div>
		<div class="text-center alert alert-success" id="offerSendMsg">
    		<p>Added to basket</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="pull-right">

				{% set rating = 0 %}
				{% set votes = 0 %}
				{% for rate in rates  %}
					{% set rating = rating + rate.rate %}
					{% set votes = votes + 1%}
				{% endfor %}
				<h4>Average user rating <span class="text-success">Users Voted {{votes}}</span></h4>
				{% if votes == 0 %}
					{% set votes = 1 %}
				{% endif %}
				<h2 class="bold padding-bottom-7">{{ (rating/votes)|number_format(1) }} <small>/ 5</small></h2>
				<div id="rating-block">

                    {% if is_granted('ROLE_USER') %}
						{% for i in 5..1%}
							<input class="star star-{{i}} rate" id="star-{{i}}" type="radio" name="star" value ="{{i}}"/>
							<label class="star star-{{i}}" for="star-{{i}}"></label>
						{% endfor %}

					{% else %}
						<h2><a href="{{ asset('login') }}" class="burger-a">Login</a> to vote</h2>
					{% endif %}
				</div>
			</div>

		</div>



	</div>
</div>
{% endblock %}

