{% extends 'base.html.twig' %}

{% block body %}

    <div class="carousel slide">
        <!-- Indicators -->


        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" ><img src="{{ asset('images/slider1.jpg') }}"></div>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill"><img src="{{ asset('images/slider2.jpg') }}"></div>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill"><img src="{{ asset('images/slider3.jpg') }}"></div>
                <div class="carousel-caption">

                </div>
            </div>
        </div>

    </div>



<div class="container text-justify">
    <div class="row">

        <div class="col-md-4">
            <p>
              <span class="drop-cap">A</span>nean aliquam nulla diam, ut pellentesque ante ultricies id.
              Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
              Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
              Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum, 
              dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
              Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur 
              eros, a volutpat tellus risus et justo. Nullam vel libero est.
            </p>
              <div id="img1"  class="img-hover">
                <img  alt="a very pretty img" src="images/col1.jpg"  class="img-border img-responsive" >
              </div>
        

      </div>


      <div class="col-md-4">
          <p>
            <span class="drop-cap">A</span>enean aliquam nulla diam, ut pellentesque ante ultricies id.
            Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
            Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
            Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum, 
            dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
            Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur 
            eros, a volutpat tellus risus et justo. Nullam vel libero est.
          </p>
            <div id="img2"  class="img-hover">
              <img  alt="a very pretty img" src="images/col2.jpg"  class="img-border img-responsive" >
             </div>
        
    </div>


    <div class="col-md-4">
      <p>
        <span class="drop-cap">A</span>enean aliquam nulla diam, ut pellentesque ante ultricies id.
        Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
        Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
        Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum, 
        dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
        Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur 
        eros, a volutpat tellus risus et justo. Nullam vel libero est.
      </p>
        <div id="img3" class="img-hover">
          <img  alt="a very pretty img" src="images/col3.jpg"  class="img-border img-responsive" >
        </div>
</div>
</div>

</div>


<div class="well"></div>
<div class="text-center alert alert-success" id="offerSendMsg">
    <p>Offer added to basket</p>
</div>
    <div class="container">
        <div class="row offer-container">
          <div class="col-lg-4 col-md-4 col-sm-12 text-center panel panel-1 padding-top-15">
            <img class="img-circle" src="{{ asset('images/offer1.jpeg') }}" alt="Generic placeholder image" height="140" width="140">
            <h2>Offer 1</h2>
            {% set totalPrice1 = 0 %}
            {% for offer in offers1%}
            {% set totalPrice1 = totalPrice1 +offer.times %}
              <h4>
                <ul class="text-justify"> 
                  <li>{{offer.product}}</li> 
                </ul>
              </h4>
            {% endfor%}
            <span class="slash">{{totalPrice1}}&euro; </span><span id="priceOffer1"> {{totalPrice1*0.90}}</span>&euro;
            <p><p id="offer1" class="btn btn-success btn3d" >Grab it</p></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 col-md-4 col-sm-12 text-center panel panel-2 padding-top-15">
            <img class="img-circle" src="{{ asset('images/offer2.jpg') }}" alt="Generic placeholder image" height="140" width="140">
            <h2>Offer 2</h2>
            {% set totalPrice2 = 0 %}
            {% for offer in offers2%}
            {% set totalPrice2 = totalPrice2 +offer.times %}
            <h4> 
                <ul class="text-justify"> 
                  <li>{{offer.product}}</li> 
                </ul>
              </h4>
            {% endfor%}
            <span class="slash">{{totalPrice2}}&euro; </span> <span id="priceOffer2"> {{totalPrice2*0.85}}</span>&euro;
            <p><p id="offer2" class="btn btn-success btn3d" >Grab it</p></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 text-center panel panel-3 padding-top-15">
            <img class="img-circle" src="{{ asset('images/offer3.jpeg') }}" height="140" width="140">
            <h2>Offer 3</h2>
            {% set totalPrice3 = 0 %}
            {% for offer in offers3%}
            {% set totalPrice3 = totalPrice3 +offer.times %}
             <h4>
                <ul class="text-justify"> 
                  <li>{{offer.product}}</li> 
                </ul>
              </h4>
            {% endfor%}
            <span class="slash">{{totalPrice3}}&euro; </span><span id="priceOffer3"> {{totalPrice3*0.80}}</span>&euro;
            <p><p id="offer3" class="btn btn-success btn3d" >Grab it</p></p>
          </div><!-- /.col-lg-4 -->      
        </div>
    </div>


  <!-- Modal image 1 -->
<div class="modal fade" id="firstImg" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Full options for deserts</h4>
        </div>
        <div class="modal-body text-center">
            <img  class="img-responsive" src ="images/col1.jpg">
        </div>
        <div class="modal-footer">
        
        </div>
      </div>
  </div>
</div> 



  <!-- Modal image 2-->
<div class="modal fade" id="secondImg" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose bettween a varaity of burgers</h4>
      </div>
      <div class="modal-body text-center">
          <img class="img-responsive" src ="images/col2.jpg">
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div> 


  <!-- Modal image 3 -->
<div class="modal fade" id="thirdImg" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Tasty wines and more</h4>
      </div>
      <div class="modal-body text-center">
          <img class="img-responsive" src ="images/col3.jpg">
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div> 
{% endblock %}


