{% extends 'base.html.twig' %}

{% block body %}

<div class="carousel slide">
  <!-- Indicators -->


  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill"><img data-lazy="{{ asset('images/slider1.jpg') }}" class="img-responsive" src=""></div>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill"><img data-lazy="{{ asset('images/slider2.jpg') }}" class="img-responsive" src=""></div>
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill"><img data-lazy="{{ asset('images/slider3.jpg') }}" class="img-responsive" src=""></div>
      <div class="carousel-caption">

      </div>
    </div>
  </div>

</div>

<div class="container text-justify">
  <div class="row">

    <div class="col-md-4">
      <p>
        <span class="drop-cap">A</span>nean aliquam nulla diam, ut pellentesque ante ultricies id.
        Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
        Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
        Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum,
        dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
        Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur
        eros, a volutpat tellus risus et justo. Nullam vel libero est.
      </p>
      <div class="img-hover">
        <img alt="a very pretty img" data-lazy="images/col1.jpg" src="" class="img-border img-responsive">
      </div>


    </div>


    <div class="col-md-4">
      <p>
        <span class="drop-cap">A</span>enean aliquam nulla diam, ut pellentesque ante ultricies id.
        Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
        Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
        Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum,
        dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
        Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur
        eros, a volutpat tellus risus et justo. Nullam vel libero est.
      </p>
      <div class="img-hover open-modal">
        <img alt="a very pretty img" data-lazy="images/col2.jpg" src="" class="img-border img-responsive">
      </div>

    </div>


    <div class="col-md-4">
      <p>
        <span class="drop-cap">A</span>enean aliquam nulla diam, ut pellentesque ante ultricies id.
        Duis quis convallis neque. Donec sit amet massa at tortor volutpat tincidunt nec eu tellus.
        Maecenas efficitur finibus imperdiet. Sed eu euismod erat, eget interdum sem.
        Cras rhoncus ut lectus quis aliquet. Nam sit amet auctor lorem. Morbi eu erat dictum,
        dignissim dolor euismod, ornare urna. Donec semper metus ex, et rhoncus ligula tincidunt vitae.
        Aenean aliquam pharetra ultricies. Nunc eleifend, ex eget viverra iaculis, mi turpis efficitur
        eros, a volutpat tellus risus et justo. Nullam vel libero est.
      </p>
      <div class="img-hover open-modal">
        <img alt="a very pretty img" data-lazy="images/col3.jpg" src="" class="img-border img-responsive">
      </div>
    </div>
  </div>

</div>



<div class="container">
  <div class="row">
    <div class="margin-top-50">
      <h1 class="text-center">Offers</h1>
      <div class="margin-top-10 grid-offers">
        {% for uuid in offersUuids %}
        {% set firstPrice = 0 %}
        {% set totalPrevPrice = 0 %}
        <div class="panel padding-10 flex-offers-panel margin-left-right-15">
          <div class="products">
            {% for offer in allOffers %}
            {% if offer.offer == uuid.offer %}
            <p>{{offer.product.name}}</p>
            {% set firstPrice = offer.price %}
            {% set totalPrevPrice = totalPrevPrice + offer.product.price %}
            {% endif %}
            {% endfor %}
          </div>
          <div class="prices">
            <p class="btn-xs btn btn-success fa fa-plus" data-offer="{{uuid.offer}}"
              onClick="addOfferToBasket('{{uuid.offer}}')" style="margin-bottom: 10px;"></p>
            <div class="old-price circle-text">{{totalPrevPrice}}</div>
            <div class="new-price circle-text">{{firstPrice}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}