{% extends 'admin.html.twig' %}

{% block body %}
    <div>
        <button class="fa fa-chevron-right fa-2x btn btn-default" aria-hidden="true" id="menu-btn"></button>
    </div>
    {% set orderNum = 0 %}
    {% for menu in menus %}
        {% set orderNum = orderNum +1 %}


        <div class="text-right width-100">


            <div class="btn btn-labeled btn-default">
                <span class="btn-label">
                    <i class="fa fa-chevron-circle-left"></i>
                </span>
                <a href="/view-orders/{{ menu.id }}">Order.{{ orderNum }}</a>

            </div>
            <br>
        </div>

    {% endfor %}
    <div class="container">
        <div id="order-panel" class="jumbotron ">
            <div class="col-md-6">
                {% for notice in notices %}
                    {% set product = notice.products|split(':') %}
                    {% for split in product %}
                        <h4 class="productLine">
                            {{ split }}
                            <ul>
                                {% if split =="Offer 1" %}
                                    <small class="bg-info" id="offer1Show">show more <span
                                                class="fa fa-caret-down"></span></small>
                                    <div id="offer1">
                                        {% for offer in offers1 %}
                                            <li>{{ offer.product }}</li>
                                        {% endfor %}
                                    </div>
                                {% elseif split =="Offer 2" %}
                                    <small class="bg-info" id="offer2Show">show more <span
                                                class="fa fa-caret-down"></span></small>
                                    <div id="offer2">
                                        {% for offer in offers2 %}
                                            <li>{{ offer.product }}</li>
                                        {% endfor %}
                                    </div>
                                {% elseif split =="Offer 3" %}
                                    <small class="bg-info" id="offer3Show">show more <span
                                                class="fa fa-caret-down"></span></small>
                                    <div id="offer3">
                                        {% for offer in offers3 %}
                                            <li>{{ offer.product }}</li>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </ul>
                        </h4>
                    {% endfor %}
                    <div class="container col-xs-4">
                        <div class="row bg-info">
                            <h4 class="">Total Price: {{ notice.price }}&euro;</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for notice in notices %}
                <div class="col-md-6 bg-success">
                    <br>
                    <h4 class="col-md-6">{{ notice.name }}</h4>
                    <h4 class="col-md-6">{{ notice.lastname }}</h4>
                    <h4 class="col-md-6">{{ notice.phone }}</h4>
                    <h4 class="col-md-6">{{ notice.address }}</h4>
                    <h4 class="col-md-6">{{ notice.email }}</h4>
                </div>
                <div class="col-md-4  pull-right margin-top-50">
                    <p>Order send at:</p>
                    <div class="panel col-md-6">
                        <span class="bg-info">{{ notice.date|date("d/m/y") }}</span> -
                        <span class="bg-warning">{{ notice.date|date("h:s:i") }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-12">
                {% for notice in notices %}
                    <h3>Description:</h3>
                    <h2 class="panel descr-panel">{{ notice.description }}</h2>
                {% endfor %}
            </div>
            <div class="col-xs-6 ">
                {% for notice in notices %}
                    <a href="/cancel-order/{{ notice.id }}" class="btn btn-danger">Order Cancel</a>
                {% endfor %}
            </div>
            <div class="col-xs-6">
                {% for notice in notices %}
                    <a href="{{ notice.id }}" class="btn btn-primary  pull-right">Order finished</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}